<nav class="white" role="navigation">
  <div class="nav-wrapper container"><a href="#" class="brand-logo"><img src="{{site.uri.public}}/mywebsite/images/singtel-logo2.jpg" height="100%"/></a>
    <ul class="right hide-on-med-and-down">
        <li><a href="{{site.uri.public}}/index" class="black-text">Home</a></li>
        <li><a href="{{site.uri.public}}/campaign-records" class="black-text">Campaign Records</a></li>
        <li><a href="{{site.uri.public}}/sms-records" class="black-text">SMS Records</a></li>
        <li><a href="{{site.uri.public}}/sms-stats" class="black-text">SMS Stats</a></li>
        <li><a href="{{site.uri.public}}/drill-module" class="black-text">Drill Module</a></li>
        <li><a href="{{site.uri.public}}/settings" class="black-text">User Settings</a></li>
        <li><a href="{{site.uri.public}}/logoutAdminPanel" class="black-text">Logout</a></li>
      </ul>
    <ul class="sidenav" id="mobile-demo">
      <li><a href="{{site.uri.public}}/index" class="black-text">Home</a></li>
      <li><a href="{{site.uri.public}}/campaign-records" class="black-text">Campaign Records</a></li>
      <li><a href="{{site.uri.public}}/sms-records" class="black-text">SMS Records</a></li>
      <li><a href="{{site.uri.public}}/sms-stats" class="black-text">SMS Stats</a></li>
      <li><a href="{{site.uri.public}}/drill-module" class="black-text">Drill Module</a></li>
      <li><a href="{{site.uri.public}}/settings" class="black-text">User Settings</a></li>
      <li><a href="{{site.uri.public}}/logoutAdminPanel" class="black-text">Logout</a></li>
      </ul>
    </div>
  </nav>